<div *ngIf="nazione">
  <div class="container-fluid">

    <div class="card-columns">
      <div class="row">
        <div class="col-sm-8">
          <app-contatore [titolo]="'Attualmente positivi'" [valore]="nazione.totale_attualmente_positivi">
          </app-contatore>
        </div>
        <div class="col-sm-auto">
          <app-contatore [titolo]="'Guariti'" [valore]="nazione.dimessi_guariti"></app-contatore>
        </div>
        <div class="col-sm-auto">
          <app-contatore [titolo]="'Deceduti'" [valore]="nazione.deceduti"></app-contatore>
        </div>
        <div class="col-sm-auto">
          <app-contatore [titolo]="'Totale Positivi'" [valore]="nazione.totale_casi"></app-contatore>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-1-6" >
        <div [ngSwitch]="tabName">
          <!-- the same view can be shown in more than one case -->
          <app-dettaglio [value]="listaTotaliReg" [title]="'Regioni'" *ngSwitchCase="'Regioni'"></app-dettaglio>
          <app-dettaglio [value]="listaTotaliPro" [title]="'Province'" *ngSwitchCase="'Province'"></app-dettaglio>
        </div>
        <div>
          <button type="button" (click)="switchTab('Regioni')">Regioni</button>
          <button type="button" (click)="switchTab('Province')">Province</button>
        </div>
      </div>
      <div class="col-7-9">
        <app-chart-nazionale></app-chart-nazionale>
      </div> 
      <div class="col-10-12">
        <app-chart-giornaliero></app-chart-giornaliero>
      </div>
    </div>
  </div>

  <span> Data ultimo aggiornamento </span>
  {{nazione.data}}



  <div>

    <button class="btn" (click)="refresh()">
            Refresh <span class="badge badge-primary"></span>
    </button>

    <button class="btn" (click)="forceRefresh()">
      Force Refresh <span class="badge badge-primary"></span>
</button>
  </div>

  <!-- <div [ngSwitch]="tabName">
    <app-dettaglio [value]="listaTotaliReg" [title]="'Regioni'" *ngSwitchCase="'Regioni'"></app-dettaglio>
    <app-dettaglio [title]="'Province'" *ngSwitchCase="'Province'"></app-dettaglio>
  </div>
  <div>
    <button type="button" (click)="switchTab('Regioni')">Regioni</button>
    <button type="button" (click)="switchTab('Province')">Province</button>
  </div>
</div>
<app-chart-nazionale></app-chart-nazionale> -->
