/* You can add global styles to this file, and also import other style files */
.deceduti {
    background-color: red;
    
}
.attualmente-positivi {
    background-color: blue;
}

.guariti {
    background-color: yellow;
}

.positivi {
    background-color: green;
}